


.button_container{
  width: 270px;
  margin: auto;
  border: 2px solid black;
}
.zero_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to top right, white 60%, #3a4ed5 100%);
  z-index:-1;
  
}
.one_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to right, white 45%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
}
.two_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to right, #3a4ed5 0%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
}
.three_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to left, white 45%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
}
.four_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to right, white 45%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
}
.five_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to right, #3a4ed5 0%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
  
}
.six_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to left, white 45%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
}
.seven_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to bottom right, white 72%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
}
.eight_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to bottom, white 45%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
}
.nine_cell{
  position: relative;
  margin: 0;
  padding: 0;
  content: '';
  background-image: linear-gradient(to bottom left, white 72%, #3a4ed5 100%);
  width: 90px;
  height:90px;
  z-index:-1;
} 
.button{
  width: 70%;
  height: 70%;
  background: white;
  color: none;
  padding: 0;
  margin: auto;
  cursor: pointer;
  border: 2px solid white;
  /* border-radius: 20px; */
}
.zero_button{
  width: 90%;
  height: 80%;
  background: white;
  color: none;
  padding: 0;
  margin: auto;
  cursor: pointer;
  border: 2px solid white;
}
td {
  text-align: center;
  width: 90px;
  height: 90px;
  padding: 0;
  margin: 0;
}
